
}
/* .list-item:nth-child(odd){
    background-color: red;
}
.list-item:nth-child(even){
    background-color: lightgreen;
}
.list-item:first-child{
    text-align: center;
}
.list-item:last-child{
    text-align: center;
}
.list-item:not(:last-child){
    text-align: center;
}
.list-item:nth-child(2){
    background-color: red;
}
.last-item::first-letter{
    font-size: 50px;
}
*/
.list-item:hover{
    color: red;
}
.main-button button:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(84, 28, 28)
}
.board{
    height: 800px;
    width: 800px;
    border: 3px solid black;
    display: flex;
}
.square{
    width: 100px;
    height: 100px;
    flex-wrap: wrap;
}
.square2{
    width: 100px;
    height: 100px;
    flex-wrap: wrap;
}
.square:nth-child(even){
    background-color: black;
}
.square:nth-child(odd){
    background-color: white;
}
.square2:nth-child(even){
    background-color: white;
}
.square2:nth-child(odd){
    background-color: black;
}
p{ 
    width: 100px;
    height: 100px;
    font-size: 50px;
}
.nums{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
.chess{
    display: flex;
}
.leters{
    display: flex;
    flex-direction: row;
    text-align: center;
}